body {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  background-color: #ecf4f3;
  padding-top: 75px;
  color: rgb(0, 106, 113);
}

.container {
  background-color: rgb(236, 244, 243);
  font-size: 15px;
}

.card-group {
  max-width: 750px;
  box-shadow: 5px 10px 45px #68b0ab;
}

.todayscard {
  max-width: 45%;
  background-color: #68b0ab;
}
.currentcity {
  font-size: 50px;
  color: #ecf4f3;
}
.currentTemp {
  color: #ecf4f3;
  font-size: 58px;
}
.tempdescription {
  font-size: 30px;
  color: #006a71;
  display: block;
  text-transform: capitalize;
}
.todayIcon {
  width: 125px;
}
.minTemperatureToday {
  font-size: 15px;
  color: #ecf4f3;
}
.maxTemperatureToday {
  font-size: 15px;
}

.future-card {
  background-color: #68b0ab;
}

.weekDays {
  color: #ecf4f3;
  font-size: 14px;
}
.minMaxFutureDays {
  font-size: 14px;
}
.minTemperature {
  color: #ecf4f3;
}

.maxTemperature {
  color: #006a71;
}

.todayDate {
  font-size: 12px;
  color: #006a71;
}
.buttonLines {
  font-size: 12px;
  color: #006a71;
}

.change {
  font-size: 12px;
  color: #006a71;
  border-style: hidden;
  background-color: #68b0ab;
}
button:hover {
  color: #ecf4f3;
  border-style: hidden;
  cursor: default;
}

.search-city {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 95%;
}

.btnGo {
  padding: 5px 14px;
  background-color: #68b0ab;
  border-radius: 10px;
  border-style: double;
  border-color: #ecf4f3;
  color: #ecf4f3;
}

.btnCurrent {
  padding: 5px 14px;
  background-color: #68b0ab;
  border-radius: 10px;
  border-style: double;
  border-color: #ecf4f3;
  color: #ecf4f3;
  margin-right: 200px;
  margin-bottom: 20px;
}
button.btnGo:hover {
  background-color: #006a71;
  border-style: double;
  border-color: #006a71;
  color: #ecf4f3;
  transition-delay: 0.5ms;
  font-weight: normal;
  cursor: pointer;
}
button.btnCurrent:hover {
  background-color: #006a71;
  border-style: double;
  border-color: #006a71;
  color: #ecf4f3;
  transition-delay: 0.5ms;
  font-weight: normal;
  cursor: pointer;
}

.second-card {
  color: #68b0ab;
}

.futureDatesIcons {
  width: 55px;
  padding-right: 10px;
}

.myAccount {
  font-size: 12px;
  color: #006a71;
  text-decoration: none;
}
.myAccount:hover {
  text-decoration: none;
  color: #ecf4f3;
  cursor: default;
}

.myName {
  font-size: 12px;
  color: #006a71;
  text-align: left;
}
